/* This is an example of using Sass, otherwise plain CSS works too*/
//$primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
;

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  border: solid black 3px;
  height: 100px;
  width: 75vw;
}

form {
  border: dotted purple 3px;
}

section {
  border: solid black 3px;
  height: 30vh;
  width: 75vw;
}

.destination-selector {
  border: solid red 3px;
}

.hidden {
display: none;
}
