/* This is an example of using Sass, otherwise plain CSS works too*/
//$primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
;

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  border: solid black 3px;
  height: 100px;
  // width: 100vw;
}

form {
  border: dotted purple 3px;
}

section {
  border: solid black 3px;
  height: 350px;;
  // width: 100vw;
}

.destination-selector {
  border: solid red 3px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-x: scroll;
}

.hidden {
display: none;
}

// Destination Card Styles

.card-wrapper {
  border: solid blue 3px;
  margin: 5px;
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destination-card-image {
  border: solid yellow 3px;
  margin: 1px;
  width: 280px;
  height: 175px;
}

.request-button {
  width: 30%;
  height: 25px;
}
// User trips sections
.current,
.upcoming,
.past,
.pending {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-x: scroll;
}
